<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div class="container">
      <header>
        <a href="https://pilotframework.com" class="logo">
          <img src="/pilot_graphic-color.svg" alt="Pilot Logo" />
        </a>
      </header>
      <section class="content">
        <div class="language-icon">
          <img src="/language.svg" alt="Node.js Icon" />
        </div>
        <h1>This Node.js app was deployed with Pilot.</h1>
        <p>
          Try making a change to this text, pushing it to your repository, then running <code>pilot up</code> to see your changes.
        </p>
        <p>
          Read the <a href="https://waypointproject.io/docs">documentation</a> for more about Waypoint.
        </p>
      </section>
      <footer>
        <a href="https://github.com/pilot-framework" class="hashi">
          <img src="/github.svg" alt="GitHub" />
        </a>
      </footer>
    </div>
  </body>
</html>
